<div class="row">
    <div class="col-md-12">
          <h2>Employees</h2>
          <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Department Number</td>
                        <td>Department Name</td>
                    </tr>
                </thead>
                {{#each data}}
                    <tr>
                        <td><a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a></td>
                        <td><a href="/employees?department={{this.departmentId}}">{{this.departmentName}}</a></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>